.sidebar {
  width: 250px;
  background: #363636;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar h2 {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 15px;
  background-color: #4f4f4f;
  max-width: 100%;
  word-wrap: break-word;
  box-sizing: border-box;
  text-align: center;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 12px;
  display: block;
  background-color: #4f4f4f;
  transition: background-color 0.2s ease-in-out;
}

.sidebar ul li a:hover {
  background-color: #0056b3;
}
